.header-with-logo {
    background-color: #343a40;
    padding: 0 20px;
    color: #fff;
    position: sticky;
    top: -100px;
    z-index: 100;
}

.header {
    background-color: #343a40;
    padding: 0 20px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-top {
    height: 100px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
}

.header-bottom-left {
    display: flex;
    width: 20vw;
    margin-right: 30px;
}

.header-bottom-left>* {
    margin-right: 10px;
}

.header-bottom-center {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
}

.header-bottom-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    margin-left: 30px;
}

.header-title {
    font-size: calc(20px + 0.5vw);
    font-weight: bold;
}

.page-title {
    font-size: calc(20px + 0.5vw);
    font-weight: bold;
}