.loading-page {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../../public/images/hand-1030571.jpg') center center no-repeat;
    background-size: cover;

    /* center content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #fff;
}

.loading-page-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-page-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-width: 100vw;

    margin: 0;

    max-height: 18vh;
}

.loading-page-col {
    max-width: 40vw;
}

.loading-page-row>img {
    max-height: 25vh;
}

.loading-page-row>h1 {
    margin: 1vh 0 0 0;
}

.loading-page-row>h2 {
    font-size: 2rem;
    margin: 1vh 0 0 0;
}